.code-comment {
    color: #00d300;
    font-size: 14px;
}

.py-method {
    color:#ca10ca;
}

pre {
    font: 100px;
}

.py-code {
    display: flex;
    background-color: #fafafa;
    color: #545454;
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
    box-shadow: 1.5px 1.5px 3px rgb(84, 84, 84, 0.2);
}

.image {
    display: block;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.tertiary-nav {
    list-style: none;
    display: flex;
    column-gap: 20px;
    color: #949494;
    text-decoration: none;
}

.tertiary-nav li {
    padding: 0;
}

.tertiary-nav a:hover {
    color: #242943;
}

.tertiary-nav a:focus {
    color: #7f8abe;
    /* background: #c7934e; */
}

.code-text {
    color: rgb(231, 55, 55);
}
.code-func {
    color: #077ae6;
}

.airflow-call {
    color: #c7934e;
}

.code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #f2f2f2;
    color: black;
    border-radius: 4px;
    margin-top: 40px;
    padding-left: 80px;
    box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.5);
}

.comment {
    color: #01a049;
    font-weight:600;
}

.highlight {
    color:#077ae6
}

.paragraph {
    font-size: 19px;
    color: #2e2e2e;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.text-bold {
    font-weight: bold;
}