.code-comment {
    color: #00d300;
    font-size: 14px;
}

.py-method {
    color:#ca10ca;
}

pre {
    font: 100px;
}

.py-code {
    display: flex;
    background-color: #fafafa;
    color: #545454;
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
    box-shadow: 1.5px 1.5px 3px rgb(84, 84, 84, 0.2);
}

.image {
    display: block;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    image-resolution: from-image;
}

.tertiary-nav {
    list-style: none;
    display: flex;
    column-gap: 20px;
    color: #949494;
    text-decoration: none;
}

.tertiary-nav li {
    padding: 0;
}

.tertiary-nav a:hover {
    color: #242943;
}

.tertiary-nav a:focus {
    color: #7f8abe;
    /* background: #c7934e; */
}

.code-text {
    color: rgb(231, 55, 55);
}
.code-func {
    color: #077ae6;
}

.airflow-call {
    color: #c7934e;
}

.code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #e0bfbf;
    color: black;
    border-radius: 4px;
    margin-top: 40px;
    padding-left: 80px;
    box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.5);
}

.comment {
    color: #01a049;
    font-weight:600;
}

.highlight {
    color: #077ae6;
    text-decoration: underline;
    text-underline-offset: .2rem;
}

.paragraph {
    font-size: 20px;
    color: #5c5c5c;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.anchor-links {
    color:#077ae6
}
.heading_five {
    color: #7e7e7e;
    text-align:center;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    padding: 0;
    /* text-decoration: .05rem underline;
    text-underline-offset: .2rem; */
    margin-top: 40px;
}

.ident_paragraph {
    color: #545454;
    width: 70%;
    margin: 20px auto;
    text-align: justify;
    font-size: 19px;
    padding-left: 40rems;
}

.brown-highlight {
    color: #c7934e;
}

.heading_six {
    color: #3f3f3f;
    text-align:center;
    font-weight: 500;
    /* font-size: 24px; */
    margin: 0;
    padding: 0;
    /* text-decoration: .05rem underline;
    text-underline-offset: .2rem; */
    margin-top: 40px;
}
